<div class="container" id="founderContainer">
	<div class="row">
		<div class="col-sm-12 col-md-4">
  			<img src="./assets/images/founder.jpg" alt="Awesome founder" id="founder" class="img-fluid">
		</div>
		<div class="col-sm-12 col-md-8">
			<h1 class="black">Founder - Monica Geller </h1>
			<hr>
			<p class="founderInfo">Monica Geller from Austin, Texas had a problem.
				She would always go traveling for vacation or business trips and had to leave her dog at a dog Kennel daycare but wanted more for her dog.
			</p>
			<p class="founderInfo">
				So she came up with Dogo a place to find other dog owners who will take care of your dog while your away and treat them just like family.
			</p>
		</div>
	</div>

	<h1 id="aboutHeader">Meet the team</h1>
	<hr id="aboutHeaderSpace">
	<div class="row">
		<div class="col-sm-12 col-md-4 text-center">
  			<img src="./assets/images/founder.jpg" alt="Awesome founder"  class="img-fluid founderImage">
			<h3 class="teamName black">Monica Geller </h3>
			<p class="founderInfo">
				Founder
			</p>
			<hr>
		</div>
		<div class="col-sm-12 col-md-4 text-center">
  			<img src="./assets/images/team1.jpg" alt="Awesome designer" class="img-fluid founderImage">
			<h3 class="teamName black">Paul Rudd</h3>
			<p class="founderInfo">
				Designer
			</p>
			<hr>
		</div>
		<div class="col-sm-12 col-md-4 text-center">
  			<img src="./assets/images/team2.jpg" alt="Awesome marketer" class="img-fluid founderImage">
			<h3 class="teamName black">Joey Tribbiani</h3>
			<p class="founderInfo">
				Marketer
			</p>
			<hr>
		</div>
	</div>
</div>
