<div class="container">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">Dogo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link"  routerLink="/" onclick="close($('.navbar-collapse').collapse('hide'))"

 >Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/about" onclick="close($('.navbar-collapse').collapse('hide'))" >About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dogsitters" onclick="close($('.navbar-collapse').collapse('hide'))">Dog sitters</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            More
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/profile" onclick="close($('.navbar-collapse').collapse('hide'))">Profile</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>