<form class="form-signin">
  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal">Sign up</h1>
  </div>

  <div class="form-label-group">
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputEmail">Email address</label>
  </div>

  <div class="form-label-group">
    <input type="text" id="inputFirstName" class="form-control" placeholder="First Name" required autofocus>
    <label for="inputFirstName">First name</label>
  </div>

  <div class="form-label-group">
    <input type="text" id="inputLastName" class="form-control" placeholder="Last Name" required autofocus>
    <label for="inputLastName">Last name</label>
  </div>

  <div class="form-label-group">
    <input type="text" id="inputState" class="form-control" placeholder="State" required autofocus>
    <label for="inputState">State</label>
  </div>

  <div class="form-label-group">
    <input type="text" id="inputCity" class="form-control" placeholder="City" required autofocus>
    <label for="inputCity">City</label>
  </div>

  <div class="form-label-group">
    <input type="tel" id="inputPhone" class="form-control" placeholder="Phone" required autofocus>
    <label for="inputPhone">Phone</label>
  </div>

  <div class="form-label-group">
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <label for="inputPassword">Password</label>
  </div>
  <div class="form-label-group">
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <label for="inputPassword">Password verification</label>
  </div>

  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-success btn-block" type="submit">Sign up</button>
</form>