<div class="headerContainer">
  <img src="./assets/images/dog2.jpg" alt="Awesome dog" style="width:100%;">

  <div class="centered">Dogo - Every dogs home away from home.</div>

</div>


<div class="container" id="founderContainer">
	<div class="row">
		<div class="col-sm-12 col-md-4">
  			<img src="./assets/images/founder.jpg" alt="Awesome founder" id="founder" class="img-fluid">
		</div>
		<div class="col-sm-12 col-md-8">
			<h1>Founder - Monica Geller </h1>
			<hr>
			<p class="founderInfo">Monica Geller from Austin, Texas had a problem.
				She would always go traveling for vacation or business trips and had to leave her dog at a dog Kennel daycare but wanted more for her dog.
			</p>
			<p class="founderInfo">
				So she came up with Dogo a place to find other dog owners who will take care of your dog while your away and treat them just like family.
			</p>
		</div>
	</div>
</div>
